body.page {
}

.cabecera {
    border: 1px solid red;
}


.navbar-inverse .navbar-inner {
    background-repeat: repeat-x;
    border-color: #303032;
    background-color: #FF3032;
}

.navbar .brand {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.mensaje {
    padding: 1em;
    margin-bottom: 1em;
}

div.oneBox strong {
    margin-left: 1em;
}

div.blueBox strong {
    margin-left: 1em;
}
